* {
   padding: 0%;
   margin: 0%;
   box-sizing: border-box;
}
.main {
   margin-top: 100px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 80px;
}
.dice1 {
   width: 400px;
   height: 100px;
   font-size: 32px;
   font-weight: bold;
   border-radius: 8px;
   margin: 8px;
}

.dice {
   width: 240px;
   height: 100px;
   font-size: 32px;
   font-weight: bold;
   border-radius: 8px;
   margin: 8px;
}

#diceImg {
   width: 500px;
}
